@mixin cliente_deflimitecredito-view{
	
	.v-caption-caption-align-credito-cliente-deflimitecredito{
    	display: inline-block;    
    	padding-right: 5px;
    	padding-left: 10px;
    	width: 126px;
	}
	
	
}