@mixin forma_pgto-view{
	
	
	.v-caption-caption-align-forma_pgto{
    	display: inline-block;    
    	padding-right: 5px;
    	padding-left: 10px;
    	width: 179px;
	}
	.v-checkbox-caption-align-forma_pgto-chkrequire{
		padding-left: 100px;				
	}
}