@mixin util-genericdialog {
	
	
	.v-window-GenericDialog{
		padding: 5px;
		Width:290px;
		Height:380px;
		border-radius: 3px;	
	}
	
	.v-verticallayout-GenericDialog{
		padding-top: 10px;
		padding-left: 5px;
	}

	.v-label-GenericDialog{
		text-align:center;
	}
	
	.v-horizontallayout-GenericDialog{
	
	}
	
	.v-button-btOK_GenericDialog{
	
	}
	
	.v-button-btCANCEL_GenericDialog{
	
	}	
}